<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style404.css">
  <title>Página no encontrada</title>
</head>
<body>
  <header class="header">
    <div class="header__icon">
      <img src="../Assets/logo-icon.png" alt="Video Icon">
      <p>Videos</p>
    </div>
    <div class="header__menu">
      <div class="header__menu--profile">
        <img src="../Assets/user-icon.png" alt="">
        <p>Perfil</p>
      </div>
      <ul>
        <li><a href="/">Cuenta</a></li>
        <li><a href="/">Cerrar Sesión</a></li>
      </ul>
    </div>
  </header>

  <section class="error404">
    <h1>404</h1>
    <h2>Página no encontrada</h2>
  </section>

  <footer class="footer">
    <a href="/">Términos de uso</a>
    <a href="/">Declaración de privacidad</a>
    <a href="/">Centro de ayuda</a>
  </footer>
</body>
</html>