<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styleIndex.css">
  <title>Videos</title>
</head>
<body>
  <header class="header">
    <div class="header__icon">
      <img tabindex="0" src="../Assets/logo-icon.png" alt="Video Icon">
      <p>Videos</p>
    </div>
    <div class="header__menu">
      <div class="header__menu--profile">
        <img src="../Assets/user-icon.png" alt="">
        <p tabindex="0" aria-label="Perfil">Perfil</p>
      </div>
      <ul>
        <li tabindex="0" aria-label="Cuenta"><a href="/">Cuenta</a></li>
        <li tabindex="0" aria-label="Cerrar Sesión"><a href="/">Cerrar Sesión</a></li>
      </ul>
    </div>
  </header>

  <section class="main">
    <h2 tabindex="0" aria-label="¿Qué quieres ver hoy?" class="main__title">¿Qué quieres ver hoy?</h2>
    <input class="input" type="text" placeholder="Buscar...">
  </section>
  
  <section class="carousel">
    <div class="carousel__container">
      <h2 tabindex="0" aria-label="Mi lista">Mi lista</h2>
      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/8647586/pexels-photo-8647586.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Ocean">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/2743908/pexels-photo-2743908.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Forest">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/1766838/pexels-photo-1766838.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="River">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/1547813/pexels-photo-1547813.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Red Forest">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/292442/pexels-photo-292442.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Beach">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Butterflies">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/1367192/pexels-photo-1367192.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Foggy Forest">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/904808/pexels-photo-904808.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Bridge">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/640781/pexels-photo-640781.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Mountain">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/1407257/pexels-photo-1407257.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Flowers">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>
    </div>
  </section>

  <section class="carousel">
    <div class="carousel__container">
      <h2 tabindex="0" aria-label="Tendencias">Tendencias</h2>
      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/8647586/pexels-photo-8647586.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Ocean">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/2743908/pexels-photo-2743908.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Forest">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/1766838/pexels-photo-1766838.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="River">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/1547813/pexels-photo-1547813.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Red Forest">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/292442/pexels-photo-292442.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Beach">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Butterflies">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/1367192/pexels-photo-1367192.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Foggy Forest">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/904808/pexels-photo-904808.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Bridge">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/640781/pexels-photo-640781.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Mountain">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>
      
      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/1407257/pexels-photo-1407257.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Flowers">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>
    </div>
  </section>

  <section class="carousel">
    <div class="carousel__container">
      <h2 tabindex="0" aria-label="Nuevos Videos">Nuevos Videos</h2>
      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/8647586/pexels-photo-8647586.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Ocean">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/2743908/pexels-photo-2743908.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Forest">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/1766838/pexels-photo-1766838.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="River">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/1547813/pexels-photo-1547813.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Red Forest">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/292442/pexels-photo-292442.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Beach">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Butterflies">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/1367192/pexels-photo-1367192.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Foggy Forest">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/904808/pexels-photo-904808.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Bridge">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/640781/pexels-photo-640781.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Mountain">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>
      
      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/1407257/pexels-photo-1407257.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Flowers">
        <div class="carousel-item__details">
          <div>
            <img src="../Assets/play-icon.png" alt="Reproducir">
            <img src="../Assets/plus-icon.png" alt="Añadir">
          </div>
          <p class="carousel-item__details--title">Título Descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114m</p>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <a href="/">Términos de uso</a>
    <a href="/">Declaración de privacidad</a>
    <a href="/">Centro de ayuda</a>
  </footer>
</body>
</html>