body {
  margin: 0px;
  background: linear-gradient(62deg, #4388CD 0%, #E0C3FC 100%);
  font-family: 'Mulish', sans-serif;
}
.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}
.header__icon {
  display: flex;
  color: white;
  width: 20px;
  margin-top: 5px;
  margin-left: 5px;
  align-items: center;
}
.header__icon img {
  width: 90px;
  margin-left: 5px;
}
.header__icon p {
  margin-top: 50px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 30px;
}
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}
.register__container {
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.register__container--form {
  display: flex;
  flex-direction: column;
}
.input {
  background-color: transparent;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid white;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0px 20px;
  outline: none;
  height: 50px;
}
::placeholder {
  color: white;
}
.button {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 25px;
  height: 50px;
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  margin: 10px 0px;
  cursor: pointer;
  letter-spacing: 1px;
}
.register__container--iniciaSesion {
  font-size: 14px;
}
.register__container--iniciaSesion a {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.register__container--iniciaSesion a:hover {
  text-decoration: underline;
}
.footer {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
}
.footer a {
  color: white;
  text-decoration: none;
  padding-left: 30px;
  cursor: pointer;
}
.footer a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  .register__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }
  .register__container--iniciaSesion {
    display: flex;
    justify-content: center;
  }
  .register__container--iniciaSesion a {
    margin-left: 10px;
  }
  .footer {
    align-items: center;
    flex-direction: column;
  }
  .footer a {
    margin-bottom: 10px;
    padding-left: 0px;
  }
}